* {
    background-color: white;
}

a {
    color: black;
}

ul#menu li a,
button {
    color: #000000;
}

ul#menu ul,
.timelist,
.popup,
nav,
.ttcase,
.langContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}